.backgrounds
{
    background-color: #4b7f52;
}

.faints
{
    background-color: #7dd181;
}

.name
{
    background-color: #c9ffe2;
}

.blocks
{
    background-color: #96e8bc;
}

.cardback
{
    background-color:#b6f9c9;
}

